body, html{
	height: 100%;
}

/* NAVIGATION */


nav, .tab-bar, .menu-icon, .left-off-canvas-menu, .top-bar-section li:not(.has-form) a:not(.button), .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button), .top-bar, .top-bar-section ul, .top-bar-section li:not(.has-form) a:not(.button), .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button), .top-bar-section .right .has-form{
	background-color: #5a4b42;
}


.has-form .button, nav li .active{
	background-color: #6acce0;
}

.off-canvas-list li a:hover, .has-form .button:hover, .top-bar-section li:not(.has-form) a:not(.button):hover, .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button):hover{
	background-color: #698c80;
} 

nav, nav aside a{
	font-family: 'Raleway', sans-serif;
}
.top-bar-section ul li > a{
	font-family:'Raleway', sans-serif;
}


/* HERO */


#tsa{
	display: block;
	margin: left;
	fill: #5a4b42;
}

.hero svg{
	width: 50%;
	margin-left: 1em;
}


.hero{
	background-image: url(../img/crafts.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 75%;
}
.layer{
	background-color: rgba(163,201,183, 0.7);
}

.hero .columns{
	
	
}

.hero h1{
	font-size: 3em;
	color: white;
	-webkit-text-stroke: 0.5px #5a4b42;
	padding-top: 0.3em;
}



.hero h3{
	color: #5a4b42;
}

@media screen and (min-width: 640px){
	.hero svg{
		margin: none;
		width: 100%;
	}
	.hero h1{
		margin-top: 1em;
	}
}
	

/* CONTENT */



h1{
	font-family: 'Libre Baskerville', serif;
	color: #6acce0;
}

h2{
	font-family: 'Libre Baskerville', serif;
	color: #6acce0;
}

h3{
	font-family: 'Raleway', sans-serif;
	color: #9ad6cc;
}

p{
	font-family: 'Open Sans', sans-serif;
}

.main-content{
	padding: 3em 0;
}


.main-content a{
	color: #6acce0;
}

.main-content a:hover{
	color: #698c80;
}

.main-content ul{
	list-style: none;
}

.main-content img{
	width: 100%;
}

.heading{
	border-bottom: thick solid #5a4b42;
}

.home-main #map{
	margin-bottom: 5%;
}

.home-main #map {
   width: 70%;
   background-color: grey;
   margin: auto;
   margin-bottom: 5%;
 } 

@media screen and (min-width: 640px){
	.home-main #map{
		width: 100%;
		height: 15em;
	}
}

.home-main .fa{
	color: #6acce0;
	margin: auto;
}

.home-main .linked-pages{
	background-color: rgba(207, 230, 187, 0.5);
}

.faq .row{
	padding-bottom: 3em;
}

label{
	font-family: 'Raleway', sans-serif;
}

.faq label {
	color: #6acce0;
}

.faq a{
	color: #fff;
}
.faq textarea{
	height: 10em;
}


.breadcrumbs{
	background-color: rgba(207, 230, 187, 0.5);
}


.breadcrumbs a{
	color: #698c80;
}

.breadcrumbs .current a{
	color: #a3c9b7;
}

.links ul{
	list-style: none;
}


.links li{
	display: inline-block;
	padding: 0.3em;
	font-family: 'Raleway', sans-serif;
}

.tutorials li{
	padding: 2%;
}


.button{
	background-color: #6acce0;
}

/* LOG IN FORM */

form{
	padding: 3em 0;
}

/*Google map*/
 #map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }


/* FOOTER */

footer{
  background-color: #a3c9b7;
  width: 100%;
  bottom: 0;
 }

.footer{
	padding-top: 1em;
}

footer .fa{
	margin: right;
}



footer ul{
	padding-top: 0.3em;
	list-style: none;
}

footer a{
	color: #5a4b42;
	font-family: 'Raleway', sans-serif;
}

footer a:hover{
	color: #698c80;
}

footer h3{
	text-align: right;
	margin: left;
}

.footer #tsa{
	padding-top: 0.3em;
	display: block;
	margin: auto;
	fill: #5a4b42;
}



